@using Microsoft.AspNetCore.Html
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@section Scripts{
    <script src="~/js/navigation.js"></script>
}
@functions {
    IHtmlContent GetButtonConfig(string controller, string classActive, string classInactive)
    {
        return Html.Raw(((ViewContext.RouteData.Values["controller"].ToString() == controller) ? "class=\"" + classActive + " " + classInactive + "\"" : "class=\"" + classInactive + "\"") + " onclick=\"changePage('" + Url.Action("Index", controller) + "', this.id);\"");
    }
}

<div id="sidebar">
    <a id="logo" href="/">
        <b id="logo-icon">
            <i class="mdi mdi-home"></i>
        </b>
        <span id="logo-text">
            Asylum
        </span>
    </a>
    <nav id="navbar2">
        <ul id="navbar">
            <li class="navbar-item">

                <div id="homeTabButton" @GetButtonConfig( "Home", "navbar-link-active navbar-link", "navbar-link") aria-expanded="false">
                    <div class="navbar-icon"><i class="mdi mdi-view-dashboard"></i></div><span class="navbar-text">Strona Główna</span>
                </div>
            </li>
            <li class="navbar-item">

                <div id="energyTabButton" @GetButtonConfig( "Energy", "navbar-link-active navbar-link", "navbar-link") aria-expanded="false">
                    <div class="navbar-icon"><i class="fas fa-bolt"></i></div><span class="navbar-text">Energia</span>
                </div>
            </li>
            <li class="navbar-item">

                <div id="blindTabButton" @GetButtonConfig( "Blind", "navbar-link-active navbar-link", "navbar-link") aria-expanded="false">
                    <div class="navbar-icon"><i class="mdi mdi-blinds"></i></div><span class="navbar-text">Rolety</span>
                </div>
            </li>
            <li class="navbar-item">

                <div id="meteoTabButton" @GetButtonConfig( "Meteo", "navbar-link-active navbar-link", "navbar-link") aria-expanded="false">
                    <div class="navbar-icon"><i class="mdi mdi-thermometer-lines"></i></div><span class="navbar-text">Stacja meteo</span>
                </div>
            </li>
        </ul>
    </nav>
</div>
<div id="page-wrapper">
    <header id="topbar">
        <div class="toogle-menu"><i class="mdi mdi-menu"></i></div>
        <a href="/admin" class="admin-panel-button">Panel administracyjny</a>
        <div id="user-icon" class="user-icon">
            <div class="user-menu">
                <a href="users">
                    <div class="user-menu-item">
                        <i class="mdi mdi-account-settings-variant"></i>
                        Ustawienia
                    </div>
                </a>
                <a href="\auth\logout">
                    <div class="user-menu-item">
                        <i class="mdi mdi-logout"></i>
                        Wyloguj
                    </div>
                </a>
            </div>
        </div>
    </header>
    <div id="page-breadcrumb">
    </div>
    <div id="page-container">
        @RenderBody()
    </div>
    <footer class="footer text-center">
        Ostatnia aktualizacja strony:
    </footer>
</div>